* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --c-color-primary: #762500;
    --c-color-background-A: #FFBD9C;
    --c-color-background-B: #FFDECD;
    --c-color-background-C: #FFFFFF;

    --c-font-family-primary: "Inter", -apple-system, system-ui, sans-serif;
    --c-font-family-display: "Spectral", ui-serif, Georgia, serif;

    --c-font-size-AAA: 3rem;
    --c-font-size-A: 1.2rem;
    --c-font-size-B: 1rem;

    --c-border-generic: solid 1.5pt var(--c-color-primary);
    --c-border-attention: dashed 1.5pt var(--c-color-background-C);
}